{% extends '@AcMarcheEdrAdmin/layout.html.twig' %}

{% block body -%}

    <div class="card mb-3">
        <div class="card-header">
            <h3>Rôles de l'utilisateur {{ user }}</h3>
        </div>
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.roles) }}
            <button class="btn btn-primary mr-1 mb-2" type="submit"><i class="ti ti ti-device-floppy" aria-hidden="true"></i>
                Sauvegarder
            </button>
            {{ form_end(form) }}

        </div>
        <div class="card-footer">
            <a href="{{ path('edr_admin_user_show',{'id':user.id}) }}" class="mt-4">
                <i class="ti ti-long-arrow-alt-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}


