<h5 class="page-header">
    {{ tuteur }} {% include '@AcMarcheEdr/commun/_sexe.html.twig' with {'entity': tuteur } %}
</h5>
    <span class="ti ti-map-marker-alt"></span>
    {{ tuteur.rue }} <br/>
    {{ tuteur.codepostal }} {{ tuteur.localite }}

<div class="row">
    <div class="col-md-6">
        <table class='table table-bordered table-hover'>
            <tbody>
            <tr>
                <th><span class="ti ti-phone"></span> Téléphone</th>
                <td>{{ tuteur.telephone }}</td>
            </tr>
            <tr>
                <th><span class="ti ti-phone"></span> Téléphone bureau</th>
                <td>{{ tuteur.telephonebureau }}</td>
            </tr>
            <tr>
                <th><span class="ti ti-mobile-alt"></span> Gsm</th>
                <td>{{ tuteur.gsm }}</td>
            </tr>
            <tr>
                <th><span class="ti ti-envelope"></span> Email</th>
                <td><a href='mailto:{{ tuteur.email }}'>{{ tuteur.email }}</a></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        {% include '@AcMarcheEdrParent/tuteur/_conjoint.html.twig' %}
    </div>
</div>
